<arcng-map class="map" baseMap="streets-vector" [zoom]="10" [center]="[-83.4255176, 42.432238]"
           (viewReady)="onMapReady($event)" [constraints]="{ snapToZoom: false }">

  <basemap-gallery arcngExpand expandTooltip="Expand Basemap Gallery" expandGroup="top-right" [uiPosition]="uiPositions.TopRight"
                   Basemaps="streets-vector, streets-navigation-vector, streets-relief-vector, gray-vector, streets-night-vector, dark-gray-vector, topo-vector"
  ></basemap-gallery>
  <layer-list arcngExpand expandTooltip="Expand Layer List" expandGroup="top-right"
              [uiPosition]="uiPositions.TopRight"></layer-list>

  <group-layer title="Disasters">
    <feature-layer url="https://services.arcgis.com/V6ZHFr6zdgNZuVG0/ArcGIS/rest/services/Tornado_Warnings/FeatureServer/0">
      <label-class expression="$feature.STATUS">
        <text-symbol [color]="[11, 127, 52, 1]" [haloColor]="[255, 255, 255, 0.75]" [haloSize]="haloSize" [fontSize]="12"></text-symbol>
      </label-class>
      <action (click)="onActionClick()" [className]="icons.Search" title="Change halo size"></action>
    </feature-layer>
    <geo-json-layer url="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson" copyright="USGS Earthquakes" title="Earthquakes"></geo-json-layer>
  </group-layer>
  <feature-layer url="https://services.arcgis.com/V6ZHFr6zdgNZuVG0/ArcGIS/rest/services/USA_Counties/FeatureServer/0" [visible]="false"></feature-layer>
</arcng-map>
